### Secrets ###
.env

### Pycharm ###
.idea

### Python ###
__pycache__/

### Virtual environments ###
.venv

### Log files ###
*.log

### SQL databases ###
*.sql
*.sqlite3

### folder for local files ###
.local

### MacOS ###
*.DS_Store

## coverage ###
.coverage
htmlcov

## image files ##
*.png

